* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: rgb(255, 255, 255);
}

.title {
  text-align: center;
  color: #444; }

.calendar {
  background: #b8e8ee;
  width: 80%;
  max-width: 600px;
  margin: 1em auto;
  padding: .5em 0; }
  .calendar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase; }
  .calendar__prev, .calendar__next {
    color: #64baf4;
    cursor: pointer;
    font-size: 1.3em; }
  .calendar__prev {
    margin-right: auto; }
  .calendar__next {
    margin-left: auto; }
  .calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);}
  .calendar__month, .calendar__year {
    padding: .5em 1em; }
  .calendar__item {
    text-align: center;
    line-height: 2;
    cursor: pointer; }
  .calendar__today {
    background: rgb(97, 128, 196);
    color: white;
    width: 50%;
    border-radius: 33%;
    margin: auto; }
  .calendar__last-days {
    opacity: .3; }
  .calendar__item:nth-child(7n) {
    background:#7493979b; }
  .calendar__item:nth-child(7n-1) {
    background:#7493979b; }
  .calendar__choosen {
    border: 2px dashed red;
  }